<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRxB08bIxC5y3y-rvi_Y_jjhRZZ1EDb2oj3-8INKIxBll55W_IXVbaY5VwxO8cXIuOAHw&usqp=CAU"
      alt="logo"
      height="90px"
      style="border-radius: 50%"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let data of navbar">
          <a
            class="nav-link fw-bold fs-5 text-white mx-1"
            aria-current="page"
            [routerLink]="data.link"
            >{{ data.data }}</a
          >
        </li>
      </ul>
      <a
        class="text-white position-relative mx-4"
        style="cursor: pointer"
        (click)="gotoCart()"
        *ngIf="cartIcon"
      >
        <fa-icon class="fs-1" [icon]="cart"></fa-icon>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{ product?.length }}
        </span>
      </a>
      <!-- <a
        class="text-white position-relative mx-4"
        (click)="gotoProfile()"
        style="cursor: pointer"
        *ngIf="profileIcon"
      >
        <fa-icon class="fs-1" [icon]="user"></fa-icon>
      </a>
      <a
        class="btn btn-sm btn-danger text-white position-relative"
        style="cursor: pointer"
        (click)="onLogout()"
      >
        <fa-icon class="fs-2" [icon]="faPowerOff"></fa-icon>
      </a> -->
      <div class="dropdown">
        <button
          class="dropdown-toggle bg-primary text-white"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="border: none; background: #fafaff"
        >
          <img
            src="assets/images/logo.jpeg"
            alt="img"
            style="height: 65px; width: 65px; border-radius: 55%"
          />
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              (click)="gotoProfile()"
              style="cursor: pointer"
              *ngIf="profileIcon"
              ><fa-icon class="fs-5 mx-2 p-1" [icon]="user"></fa-icon>
              <span>My Profile</span></a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="onLogout()">
              <fa-icon class="fs-5 mx-2 p-1" [icon]="faPowerOff"></fa-icon>
              <span>Logout</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
