<div class="container-fluid">
  <div class="d-flex flex-row">
    <div class="division">
      <h3>Customer Service</h3>
      <ul>
        <li>FAQ</li>
        <li>Returns & refunds</li>
        <li>Terms and conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div>
      <h3>Customer Service</h3>
      <ul>
        <li>FAQ</li>
        <li>Returns & refunds</li>
        <li>Terms and conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div>
      <h3>Customer Service</h3>
      <ul>
        <li>FAQ</li>
        <li>Returns & refunds</li>
        <li>Terms and conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </div>
</div>
