<div class="container-fluid">
  <div class="mt-1 mb-2">
    <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column mx-2" *ngFor="let img of images">
        <img [src]="img.img" alt="img" height="100px" width="100px" />
        <a href="" class="mx-2 text-decoration-none">{{ img.name }}</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="mt-2">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <!-- https://rukminim1.flixcart.com/fk-p-flap/844/140/image/f36261da03bbb06b.jpg?q=50 -->
          <img
            src="assets/images/14491252_5450575.jpg"
            class="d-block w-100"
            style="height: 800px; padding: 50px"
            alt="img"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="assets/images/8915380_4028484.jpg"
            class="d-block w-100"
            style="height: 800px; padding: 50px"
            alt="img"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/13402997_5157395.jpg"
            class="d-block w-100"
            style="height: 800px; padding: 50px"
            alt="img"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-2">
      <h2 class="p-1 text-center fw-bold">Filters</h2>
      <hr />
      <div class="mt-2">
        <button class="btn btn-lg btn-primary" (click)="clearFilter()">
          Clear Filter
        </button>
      </div>
      <hr />
      <div class="col-lg-12">
        <label for="" class="form-label">Price</label>
        <hr />
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="form-label p-2">Min Value</label>
            <select
              [(ngModel)]="minVal"
              class="form-control form-control-lg"
              (change)="selectPrice()"
            >
              <option selected>Min Value</option>
              <option *ngFor="let price of prices" [value]="price">
                {{ price | currency : "INR" : "symbol" }}
              </option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="" class="form-label p-2">Max Value</label>
            <select
              [(ngModel)]="maxVal"
              class="form-control form-control-lg"
              (change)="selectPrice()"
            >
              <option selected>Max Value</option>
              <option *ngFor="let price of prices2" [value]="price">
                {{ price | currency : "INR" : "symbol" }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="col-lg-12 mt-2 mb-2">
        <label for="" class="form-label">Select Category</label>
        <select
          class="form-select form-select-lg"
          [(ngModel)]="selectCategory"
          (change)="selectItem()"
        >
          <option>Select Category</option>
          <option
            *ngFor="let prodCategorie of prodCategories"
            [value]="prodCategorie.name"
          >
            {{ prodCategorie.name }}
          </option>
        </select>
      </div>
      <hr />
      <div class="col-lg-12">
        <label for="" class="form-label">Select Rating</label>
        <select
          class="form-select form-select-lg"
          (change)="sendRating()"
          [(ngModel)]="ratingNumber"
        >
          <option value="Select Rating">Select Rating</option>
          <option value="1">1 &#9733;</option>
          <option value="2">2 &#9733; &#9733;</option>
          <option value="3">3 &#9733; &#9733; &#9733;</option>
          <option value="4">4 &#9733; &#9733; &#9733; &#9733;</option>
          <option value="5">5 &#9733; &#9733; &#9733; &#9733; &#9733;</option>
        </select>
      </div>
    </div>
    <div class="col-lg-10 bg-light">
      <h3 class="mt-2 p-2 fw-bold">Products :</h3>
      <form>
        <div class="col-lg-12">
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Search"
            [(ngModel)]="searchData"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </form>
      <hr />
      <div class="d-flex flex-wrap flex-row">
        <ng-container *ngIf="products | filterProduct : searchData as data">
          <div class="px-5 py-3" *ngFor="let product of data; let i = index">
            <div class="card h-100" style="width: 18rem">
              <img
                class="card-img-top p-3 h-50 w-100 imgWidth"
                [src]="product.image"
                alt="Card image cap"
              />
              <div class="card-body">
                <h4 class="h4 extra">{{ product.name }}</h4>
                <h5 class="card-title">{{ product.category }}</h5>
                <p class="card-text">
                  {{ product.description | description : 90 }}
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span class="fw-bold">Price</span> :
                  <span class="text-danger"> &#8377;{{ product.price }}</span>
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Brand</span> :
                  <span class="text-danger"> {{ product.brand }}</span>
                </li>
              </ul>
              <a
                class="btn btn-md btn-primary w-2 p-2 m-2"
                (click)="showDetails(product)"
              >
                View Details
              </a>
            </div>
          </div>
          <div *ngIf="!data.length">
            <h2 class="h2 text-danger fw-bold">No item found</h2>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
